*{
    margin: 0;
    padding: 0;
}
header{
    /*background: rgb(44, 39, 110);*/
    box-sizing:border-box;
    position: absolute;
    background: url(genshin.jpg);
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wall{
    font-family: 'Kumar One';
    font-size: 28px;
    margin-right: auto;
    display: inline-block;

}

.wall a{
    color: rgb(246, 248, 249);
    text-decoration: none;
    width: max-content;
}

.navbar{
    font-family: 'poppins';
    font-size: 20px;
    float: right;
    list-style: none;
}

.navbar a{
    margin: 0 2rem;

}

.navbar li{
    display: inline-block;
}

.navbar li a{
    padding: 15px;
}

.navbar li a:hover{
    background: rgb(56, 142, 114);
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    border-width: auto;
}


.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align:left;
    color: #fff;
}

.content h1{
   margin-left: auto;
   margin-right: auto;
   overflow: visible;
}

.content_2{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align:right;
    color: #fff;
}

.content_2 h1{
   margin-left: auto;
   margin-right: auto;
   overflow: visible;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(38, 62, 171);
    }
}  
