<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Account's Information</title>
    
    <link rel="stylesheet" th:href="@{/css/account_info.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   -->
  </head>
  <body>

    <section class="container">
      <div class = "leftbox">
        <nav>
          <a onclick ="tabs(0)" class = "tab active"><i class = "fa fa-user"></i>General</a>
          <a onclick ="tabs(1)" class = "tab"><i class = "fa fa-address-card">Account's Information</i></a>
          <a onclick ="tabs(2)" class = "tab"><i class = "fa fa-lock"></i>Change Password</a>
          <a onclick ="tabs(3)" class = "tab"><i class="far fa-bookmark"></i>Followed Comics</a>
          <a onclick ="tabs(4)" class = "tab"><i class = "fa fa-tasks"></i>Uploaded Comics</a>
          <a onclick ="tabs(5)" class = "tab"><i class="far fa-bell"></i>Notification</a>
          <a onclick ="tabs(6)" class = "tab"><i class="far fa-comment"></i>Comments</a>
          <a onclick ="tabs(7)" class = "tab exit"><i class = "fa fa-user"></i>Exit</a>
        </nav>
      </div>

      <div class ="rightbox">

        <div class = "general tabShow">
          <form action="#" class="form">
          <h1> Account's Information</h1>
          <div class="input-box">
           
            <img th:src="${user.getPhotosImagePath}" alt="" style="max-width:150px;width:100%">
          </div>
          <div class="input-box">
            <label>Your name</label>
            <h3>[[${user.fullName}]]</h3>
          </div>
          <div class="input-box">
            <label>Email Address</label>
            <h3>[[${user.email}]]</h3>
          </div>
          
          </form>
  
          <section class="chapter">

            <h2 class="list-title clearfix"> <br> Followed Comics </br></h2>
        
            <div class="grid-container">
              <div class="grid-item" style="color:#000">Comics Name</div>
              <div class="grid-item" style="color:#000">Latest Chapter</div>
              <div class="grid-item" style="color:#000">UnFollow</div>
        
             

              <th:block th:each="comic,iterStat: ${followComic}" th:if="${iterStat.index < 10}">
                <div class="grid-item" style="color:#000">
                  <a th:href="@{'/readComic?comicId='+${comic.id}}" style="color:#000">[[${comic.name}]]</a>
                </div>
                <div class="grid-item" style="color:#000">
                  <a th:if="${latestChapter.get(comic.id)!=null}" th:href="@{'/readChapter?comicID='+${comic.id}+'&chapterID='+${latestChapter.get(comic.id).id}}">[[${latestChapter.get(comic.id).name}]]</a>
                </div>
                <a th:href="@{${'/dashboard/unfollow/'+{comic.id}}}" class="grid-item" style="color:#000">UnFollow</a>

              </th:block >
            </div>
          </section>

          <!--chapter section ends-->
        
          <section class="chapter">

            <h2 class="list-title clearfix"> Comments </h2>
        
            <div class="grid-container">
              <div class="grid-item1" style="color:#000">Comics Name</div>
              <div class="grid-item1" style="color:#000">Latest Update </div>
              <div class="grid-item1" style="color:#000">Comments</div>
      
              <th:block th:each="comment,iterStat: ${comments}" th:if="${iterStat.index < 10}">
                <div class="grid-item" style="color:#000">
                  <a th:href="@{'/readComic?comicId='+${comment.comic.id}}" style="color:#000">[[${comment.comic.name}]]</a>
                </div>
                <div class="grid-item" style="color:#000">
                  [[${comment.dateComment}]]
                </div>
                <div class="grid-item" style="color:#000">[[${comment.content}]]</div>

              </th:block >
            </div>
          </section>
        </div>
        
        <div class = "profile tabShow">
          <form th:action="@{/dashboard/update}" method="post" th:object="${user}" enctype="multipart/form-data"   class="form">
            <h1>Account's Information</h1>
            <div class="input-box">
              <label>Your Name</label>
              <input  th:field="*{fullName}" type="text" placeholder="Enter ID name" required />
            </div>
          
            <div class="input-box">
              <label>Email Address</label>
              <input disabled th:field="*{email}" type="text" placeholder="Enter email address" required />
            </div>

            
            <div class="input-box">
              <label>Avatar</label>
              <input  type="file" name="image" multiple/>
            </div>
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{email}">
            <input type="hidden" th:field="*{enable}">
            <input type="hidden" th:field="*{role}">
            <input type="hidden" th:field="*{comicsFollow}">
            <button type="submit">Update</button>
          </form>
          </div>

        <div class = "password tabShow">
          <form  th:action="@{/dashboard/updatePassword}" method="post" th:object="${user}"  class="form">
          <h1>Change Password</h1>
            <div class="input-box">
              <label>Old Password</label>
              <input type="text" placeholder="Enter your old password" required />
            </div>
          
            <div class="input-box">
              <label>New Password</label>
              <input type="text" placeholder="Enter your new password" required />
            </div>
  
            <div class="input-box">
              <label>Verify your password</label>
              <input type="text" placeholder="Enter your new password again" required />
            </div>
          <button type="submit">Change Password</button>  
          </form>
        
        </div>

        <div class = "followComics tabShow">
          <section class="chapter">

            <h2 class="list-title clearfix"> <br> Followed Comics </br></h2>
        
            <div class="grid-container">
              <div class="grid-item2" style="color:#000">Comics Name</div>
              <div class="grid-item2" style="color:#000">Latest Chapter</div>
              <div class="grid-item2" style="color:#000">UnFollow</div>
        
              <th:block th:each="comic,iterStat: ${followComic}">
                <div class="grid-item" style="color:#000">
                  <a th:href="@{'/readComic?comicId='+${comic.id}}" style="color:#000">[[${comic.name}]]</a>
                </div>
                <div class="grid-item" style="color:#000">
                  <a th:if="${latestChapter.get(comic.id)!=null}" th:href="@{'/readChapter?comicID='+${comic.id}+'&chapterID='+${latestChapter.get(comic.id).id}}">[[${latestChapter.get(comic.id).name}]]</a>
                </div>
                <a th:href="@{${'/dashboard/unfollow/'+{comic.id}}}" class="grid-item" style="color:#000">UnFollow</a>

              </th:block >
            </div>
          </section>
        
        </div>

        <div class = "UploadComics tabShow">
          <div class="comment">
            <h3>Upload comics</h3>
            <hr />
            <form  th:action="@{/dashboard/formCreator}" method="post" th:object="${formCreator}">
              <input  type="hidden" th:field="*{user}">
            
              <textarea  th:field="*{content}" rows="5" placeholder="Describe yourself or your group editor. This is important for your comic's censorship." name="comment"></textarea>
              <button type="submit" class="submit-comment links">Register for Creator/Translator </button>
            </form>
            <section class="chapter">

              <h2 class="list-title clearfix"> <br> Uploaded Comics </br></h2>
          
              <div class="grid-container">
                <div class="grid-item2" style="color:#000">Comics Name</div>
                <div class="grid-item2" style="color:#000">Recent Chapter </div>
                <div class="grid-item2" style="color:#000">Views</div>
                <th:block th:each="comic,iterStat: ${comics}">
                  <div class="grid-item" style="color:#000">
                    <a th:href="@{'/readComic?comicId='+${comic.id}}" style="color:#000">[[${comic.name}]]</a>
                  </div>
                  <div class="grid-item" style="color:#000">
                    <a th:if="${latestChaptersUpload.get(comic.id)!=null}" th:href="@{'/readChapter?comicID='+${comic.id}+'&chapterID='+${latestChapter.get(comic.id).id}}">[[${latestChapter.get(comic.id).name}]]</a>
                  </div>
                  <div  class="grid-item" style="color:#000">[[${comic.countView}]]</div>
  
                </th:block >
                
              </div>
            </section>
          </div>
        </div>

        <div class = "Notification tabShow">
            <section class="chapter">

              <h2 class="list-title clearfix"> <br> Notification </br></h2>
          
              <div class="grid-container2">
                <div class="grid-item2" style="color:#000">Message</div>
                <div class="grid-item2" style="color:#000">Time of Notification</div>
          
                <th:block th:each="message,iterStat: ${messages}">
                  <div class="grid-item2" style="color:#000">
                  <a th:href="@{${message.content}}" style="color:#000">[[${message.title}]]<a>
                </div>
                <div class="grid-item2" style="color:#000">[[${message.dateSend}]]</div>
                </th:block >

              </div>
            </section>
          </div>

        <div class = "Comments tabShow">
          <section class="chapter">

            <h2 class="list-title clearfix"> <br> Comments Section </br></h2>
        
            <div class="grid-container">
              <div class="grid-item2" style="color:#000">Comics Name</div>
              <div class="grid-item2" style="color:#000">Latest Update </div>
              <div class="grid-item2" style="color:#000">Comments</div>
              <th:block th:each="comment,iterStat: ${comments}">
                <div class="grid-item" style="color:#000">
                  <a th:href="@{'/readComic?comicId='+${comment.comic.id}}" style="color:#000">[[${comment.comic.name}]]</a>
                </div>
                <div class="grid-item" style="color:#000">
                  [[${comment.dateComment}]]
                </div>
                <div class="grid-item" style="color:#000">[[${comment.content}]]</div>

              </th:block >
              
            </div>
          </section>
        
        </div>
      </div>   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        const tabBtn = document.querySelectorAll(".tab");
        const tab = document.querySelectorAll(".tabShow");
  
        function tabs(panelIndex) {
            tab.forEach(function(node){
                node.style.display = "none";
            });
            tab[panelIndex].style.display = "block";
        }
        tabs(0);
    </script>  
    <script>
       $(".tab").click(function() {
          console.log($(this).text);
          $(this).addClass("active").siblings().removeClass("active");
        });

        $(".exit").click(function() {
          $(location).prop('href', "../logout");
        });
    </script>
  </body>
</html>

