<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Chapter</title>
    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/assets/extensions/choices.js/public/assets/styles/choices.css}">
    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>

    <link rel="stylesheet" th:href="@{assets/extensions/simple-datatables/style.css}">
    <link rel="stylesheet" th:href="@{assets/css/pages/simple-datatables.css}">
    <script th:src="@{assets/extensions/simple-datatables/umd/simple-datatables.js}"></script>
    <script th:src="@{assets/js/pages/simple-datatables.js}"></script>
    <script th:src="@{/assets/extensions/choices.js/public/assets/scripts/choices.js}"></script>
    <script th:src="@{/assets/js/pages/form-element-select.js}"></script>
    <link rel="stylesheet" th:href="@{assets/extensions/simple-datatables/style.css}">
    <link rel="stylesheet" th:href="@{assets/css/pages/simple-datatables.css}">

</head>

<body>
<div id="app">
    <div th:replace="navigationFragment :: menuMange"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Mange Comic</h3>
                        <p class="text-subtitle text-muted">List of comic </p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="index.html">Comic</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Mange Comic</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        All your comic
                    </div>
                    <div class="card-body">

                        <form th:action="@{/comic/listAll/1}" class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-5 form-group">
                                        <label>Keyword</label>
                                    
                                        <input type="text" id="first-name" class="form-control" name="keyword" placeholder="Enter your keyword">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <table class="table table-striped" id="table1">
                            <thead>
                            <tr>
                                <th>N.o</th>
                                <th>Name</th>
                                <th>Author</th>
                                <th>N.o View</th>
                                <th>Date Post</th>

                                <th>Last Modified</th>
                                <th>Status</th>
                                <th>Active</th>
                                <th>Delete</th>
                                <th>View Info</th>
                            </tr>
                            </thead>

                            <th:block th:each="comic: ${comics}">
                                <tbody>
                                <td>[[${comic.id}]]</td>
                                <td>[[${comic.name}]]</td>

                                <td>[[${comic.authors}]]</td>
                                <td>[[${comic.countView}]]</td>
                                <td>[[${comic.datePost}]]</td>
                                <td>[[${comic.lastModified}]]</td>

                                <td>
                                    <a th:href="@{'/comic/changestatus/'+${comic.id}}" class="badge bg-success">[[${comic.status}]]</a>
                                </td>
                                <td>
                                    <span th:if="${comic.enable==true}"   class="badge bg-success">Active</span>
                                    <span th:if="${comic.enable==false}"  class="badge bg-danger">Active</span>
                                </td>
                                <td>
                                    <span class="badge bg-danger">Delete</span>
                                </td>
                                <td>
                                    <a th:href="@{'/chapter/'+${comic.id}+'/listAll'}" class="badge bg-success">View info</a>
                                </td>
                                </tbody>
                            </th:block>

                        </table>
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination pagination-primary">

                                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                                    <a class="page-link" th:href="@{'/comic/listAll/1?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword==null ? '' : '&keyword='+keyword}}" >First</a>
                                </li>
                                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                                    <a class="page-link" th:href="@{'/comic/listAll/'+${currentPage!=1 ? (currentPage - 1) : 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword==null?'':'&keyword='+keyword}}" tabindex="-1">Previous</a>
                                </li>
                                <li th:class="${currentPage == i ? 'page-item active' : 'page-item'}" th:each="i : ${#numbers.sequence(1,totalPages)}">
                                    <a class="page-link"  th:href="@{'/comic/listAll/'+${i}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword==null?'':'&keyword='+keyword}}">[[${i}]]</a>
                                </li>
                                <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                                    <a class="page-link" th:href="@{'/comic/listAll/'+${currentPage!=totalPages ? (currentPage + 1) : totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword==null?'':'&keyword='+keyword}}">Next</a>
                                </li>
                
                                <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                                    <a class="page-link" th:href="@{'/comic/listAll/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword==null?'':'&keyword='+keyword}}">End</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </section>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                            href="https://saugi.me">Saugi</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>

</html>
