
.menu .box-container2 .comic-page img {
    width: 100%;
}

.menu .box-container2 .comic-page {
    padding: 0rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container2 {
    display: grid;
    gap: 1.5rem;
}

.comic-bar {
    margin-left: 7%;
    display: flex;
    margin-bottom: -1.2%;
}

.comic-bar h1 {
    color: white;
    width: fit-content;
}

.comic-bar form {
    width: fit-content;
    margin-left: 30px;
    margin-top: 22px;
    transform: scale(1.75, 1.75);
}

.comic-bar form option {
    font-size: medium;
}

.comic-bar span {
    color: var(--main-color);
    text-transform: uppercase;
}

.comic-bar .prev {
    color: white;
    margin-left: 45%;
    width: fit-content;
}

.comic-bar .prev button {
    background: url(../images/caret-left-square.png) no-repeat;
    height: 50px;
    width: 50px;
    margin-left: 5px;
}

.comic-bar .next button {
    background: url(../images/caret-right-square.png) no-repeat;
    height: 50px;
    width: 50px;
    margin-left: 5px;
}

.comic-bar .next {
    color: white;
    margin-left: 0.1%;
    width: fit-content;
}
